.bg-title-color {
    background-color: rgb(96, 84, 201);
}

li{
    font-size: 20px;
    background-color: rgba(61, 59, 61, 0.509);
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.bg-days-card {
    background-image: linear-gradient(rgb(47, 47, 126), rgb(178, 143, 226) ) ;
    color: white;
    font-size: 20px;
}

.btn {
    background-color: rgb(126, 151, 205);
    color: white;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(82, 109, 166);
}

img {
    height: 70px;
    width: 70px;
   
}

.row {
    padding: 0;
}